*{
   /* tamanho da margem do site  */
   margin: 0 auto;
   /* tamanho do espaçamento do site  */
   padding: 0;
}

a {
    /* decoração do texto */
    text-decoration: none;
}

.menu {
    /* largura do menu */
    width: 100%;
    /* altura do menu */
    height: 30px;
    /* cor do menu */
    background: #23232e;
    /* espaçamento do menu */
    padding: 20px 0px 40px 40px;
    /* posição do menu */
    position: fixed;
}

.logo {
    /* tranforma o elemento em um bloco */
    display: block;
    /* muda a posição de um elemento */
    float: left;
    /* tamanho da margem de cima */
    margin-top: 15px;
     /* tamanho da fonte */
     font-size: 24px;
     /* transformar texto em caixa alta */
     text-transform: uppercase;
     /* espaçamento entre letras */
     letter-spacing: 2px;
     /* cor do texto */
     color: #fff;
     /* fonte do texto */
     font-family: 'cabin', sans-serif;
     /* negrito */
     font-weight: bold;
}

.menu-site {
    /* tamanho máximo do menu */
    max-width: 100%;
    /* muda a posição de um elemento */
    float: left;
}

.menu-site li{
    /* tamanho da margem de cima */
    margin-top: 15px;
    /* tranforma o elemento em um bloco porem podendo ter altura e largura*/
    display: inline-block;
}

.menu-site a {
    /* tranforma o elemento em um bloco */
    display: block;
    color: #fff;
    /* tamanho da fonte */
    font-size: 18px;
    /* tamanho da margem de cima */
    margin-left: 33px;
    /* fonte do texto */
    font-family: 'cabin', sans-serif;
    /* negrito */
}

.menu-site ul li a:hover{
    opacity: 0.7;
    transition: 0.3s;
}

.login li {
    /* tranforma o elemento em um bloco porem podendo ter altura e largura*/
    display: inline-block;
    /* tamanho da margem de cima */
    margin-top: 15px;
    /* fonte do texto */
    font-family: 'cabin', sans-serif;
    /* negrito */
    font-weight: bold;
    /* tamanho da fonte */
    font-size: 18px;
    /* tamanho do espaçamento da direita */
    padding-right: 70px;
}

.login {
    /* muda a posição de um elemento */
    float: right;
}

.login a {
    /* cor do texto */
    color: #fff;
    /* fonte do texto */
    font-family: 'cabin', sans-serif;
}