/*importa a fonte do site*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

/*tira a margem e os espaçamentos e coloca a fonte*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif ;

}

/*da formato ao corpo do site*/
body {
    min-height: 100vh;
    background-color: #201b2c;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*muda o formato do menu*/
.menu {
    box-sizing: border-box;
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    background: #00ff88;
    width: 3.8vw;
    border-radius: 10px;
    border-left: 5px solid #00ff88;
    box-sizing: initial;
    transition: width 0.5s;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    overflow-x: hidden;
    display: flex;
}

/*coloca o tamanho do menu quando ativo*/
.menu.ativa {
    width: 25vw;
}

/*muda o formato da lista */
.menu ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

/*muda o formato dos objetos da lista do menu*/
.menu ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*coloca cor na opção selecionada na lista*/
.menu ul li.ativa {
    background: #77ffc0;
}

/*muda a posição dos link da lista do menu*/
.menu ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #2b134b;
}

/*seleciona elementos com base em suas 
posições em um grupo de elementos irmãos.*/
.menu ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #77ffc0;
    display: none;
}

/*seleciona elementos com base em suas 
posições em um grupo de elementos irmãos após ativo*/
.menu ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #00ff88;
}

/*seleciona elementos com base em suas 
posições em um grupo de elementos irmãos.*/
.menu ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #77ffc0;
    display: none;
}

/*seleciona elementos com base em suas 
posições em um grupo de elementos irmãos após ativo*/
.menu ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #00ff88;
}
/*coloca display no menu após ser ativo*/
.menu ul li.ativa b:nth-child(1), .menu ul li.ativa b:nth-child(2){
    display: block;
}

/*muda a posição dos icones*/
.menu ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

/*muda o tamanho dos icones do menu*/
.menu ul li a .icone i {
    font-size: 1.5rem;
}

/*muda os titulos dos links do menu*/
.menu ul li a .titulo {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

/*da formato ao botão superior do menu*/
.alternar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #00ff88;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*muda a cor do botão quando esta ativo*/
.alternar.ativa {
    background: #77ffc0;
}

/*mostra os ícones*/
.alternar ion-icon{
    position: absolute;
    color: #2b134b;
    font-size: 2rem;
    display: none;
}

/*mostra o ícone selecionado*/
.alternar ion-icon.open, .alternar.ativa ion-icon.close {
    display: block;
    
}

/*tira o icone que esta desativado*/
.alternar ion-icon.close, .alternar.ativa ion-icon.open{
    display: none;

}

/*muda a div mãe fazendo o formato dela*/
.container {
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

/*muda o formato das divs filhas*/
.container .box{
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2841;
    gap: 20px;
    border: 1px solid #00ff88;
    border-radius: 10px;
}

/*muda o modo que o conteudo é colocado*/
.container .box .conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

/*muda o formato de onde o icone se encontra*/
.container .box .conteudo .icone {
    color: #00ff88;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2f2841, 0 0 0 6px #00ff88;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background: #2f2841;
    transition: 0.5s ease-in-out;
}

/*muda a cor que a fiv fica depois que passa o mouse*/
.container .box:hover .conteudo .icone{
    background: #00ff88;
    color: #2f2841;
    box-shadow: 0 0 0 4px #2f2841, 0 0 0 300px #00ff88;
}
/*muda o tamanho da fonte, a cor e o negrito, além de adicionar a transição*/
.container .box .conteudo .texto h3{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

/*muda a cor do sub-titulo após o mouse passar em cima*/
.container .box:hover .conteudo .texto h3{
    color: #2f2841;
}

/*muda a cor e adiciona a transição nos textos*/
.container .box .conteudo .texto p{
    color: #f0ffffde;
    transition: 0.5s ease-in-out;
}

/*muda a cor do texto após o mouse passar em cima*/
.container .box:hover .conteudo .texto p{
    color: #2f2841;
}

/*muda a cor e a forma que é inserido o input com link */
.container .box .conteudo .texto a{
    background:#00ff88;
    color: #2f2841;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}

/*muda a cor e o background do input com link*/
.container .box:hover .conteudo .texto a{
    background: #2f2841;
    color: #00ff88;
}







